
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="myHome" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>购物商城</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>购物商城</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <!--<span class="sr-only">Toggle navigation</span>-->
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!--User  Account Menu  用户-->
                    <li class=" user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="myHome" class="dropdown-toggle" >
                            <!-- The user image in the navbar-->
                            <i class="fa  fa-user-circle "></i>
                            <!--<img src="/assets/ico/tou.png" class="user-image hidden-xs" alt="User Image">-->
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <#if user?? >
                                <span class="hidden-xs">${user.uid}</span>
                            </#if>
                        </a>
                    </li>

                    <!-- home回主页-->
                    <li>
                        <a href="myHome" title="我的店铺" ><i class="fa fa-home"></i></a>
                    </li>
                    <!-- 交易大厅-->
                    <li>
                        <a href="trade?s=tradeHall" title="交易大厅" ><i class="fa fa-line-chart"></i></a>
                    </li>
                    <!-- 登出 -->
                    <li>
                        <a href="/logout" title="退出登录" ><i class="fa fa-sign-out"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <#if user??>


        <#if user.role == '0' >
            <#include "sider.html" />
        </#if>

        <#if user.role == '1' >
            <#include "sider-op.html" />
        </#if>

        <#if user.role == '2' >
            <#include "sider-admin.html" />
        </#if>

    </#if>
