<#include "header.html" />
<!--会员-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        人脉网络
        <small>我的推荐</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <!--<h3 class="box-title">推荐结构</h3>-->
              </div>
              <!-- /.box-header -->
              <div class="box-body ">
                <h5 style="margin: 20px 0;">已推荐人数：<span id="childrenCount"></span></h5>
                <input type="hidden" id="userId" value="${user.id?c}" >
                <div id="box">
                  <div id="tree" class="col-md-4 col-xs-12"></div>
                  <div  class="col-md-8 col-xs-12" style="overflow:auto;">
                    <div id="main" style="width: 500px;height:400px;">

                    </div>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<#include "footer1.html" />

<script type="text/javascript" src="/assets/myJs/myConnection.js"></script>
<!--<script type="text/javascript" src="/assets/myJs/memberList.js"></script>-->

<#include "footer2.html" />