<#include "header1.html" />
<style type="text/css">
  .sellTable .fixed-table-toolbar::before {
    content: "挂卖列表";
    font-size: 16px;
    margin-left: 10px;
    color: green;
  }
  .buyTable .fixed-table-toolbar::before {
    content: "挂买列表";
    font-size: 16px;
    margin-left: 10px;
    color: red;
  }
</style>
<#include "header2.html" />
<!--会员-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        交易大厅
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      <div class="row">
        <div class="col-xs-12" id="tableDiv">
          <div class=" box box-body"  style="background: white; border-top: 3px solid #f39c12; margin-bottom: 0px;">
            <div class="col-md-6 sellTable col-xs-6" style="margin-top: 10px;">
              <table id="sellTable" class="table table-striped table-bordered text-nowrap table-condensed"
                     data-undefined-text=""
                     data-buttons-align="right"
                     data-show-refresh="true"
                     data-show-columns="true" >
                <thead>
                <tr>
                  <th data-field="id" ><span style="color: green">#</span></th>
                  <th data-field="orderDate" data-formatter="displayCreatedDate" data-width="32%">挂卖时间<i class="fa fa-calendar"></i></th>
                  <th data-field="vcPrice" data-formatter="displaySellPrice">单价<i class="fa fa-sort-numeric-asc"></i></th>
                  <th data-field="amount">数量</th>
                  <th data-field="ecoin">金额</th>
                </tr>
                </thead>
              </table>
            </div>
            <div class="col-md-6 buyTable col-xs-6" style="margin-top: 10px;">
              <table id="buyTable" class="table table-striped table-bordered text-nowrap table-condensed"
                     data-undefined-text=""
                     data-buttons-align="right"
                     data-show-refresh="true"
                     data-show-columns="true" >
                <thead>
                <tr>
                  <th data-field="id" ><span style="color: red">#</span></th>
                  <th data-field="orderDate" data-formatter="displayCreatedDate" data-width="32%">挂买时间<i class="fa fa-calendar"></i></th>
                  <th data-field="vcPrice" data-formatter="displayBuyPrice">单价<i class="fa fa-sort-numeric-desc"></i></th>
                  <th data-field="amount">数量</th>
                  <th data-field="ecoin">金额</th>

                </tr>
                </thead>
              </table>
            </div>
          </div>

        </div>
        <#if user.role == '2' >
          <input type="hidden" name="role" value="${user.role}" />
        </#if>

        <div class="col-xs-12">
          <div class=" box " style="border-top: none;">
            <!-- /.box-header -->
            <div class="box-body ">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#sellTab" data-toggle="tab">挂卖</a></li>
                <li><a href="#buyTab" data-toggle="tab">挂买</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="sellTab">
                  <div class="col-md-6"  >
                    <form class="form-horizontal " role="form" id="wantToSellForm"
                          onkeydown="if(event.keyCode==13) return false;"  autocomplete="off">
                      <div class=" form-group   " style="margin-top: 20px;">
                        <label for="wantToSellTabKmc" class="col-md-4 control-label col-xs-4">卖出单价</label>
                        <div class="col-md-5 col-xs-7">
                          <input type="number" step="0.001" min="0.000" class="form-control" id="wantToSellTabKmc" name="vc"
                                 value="${vc?c}" placeholder="卖出单价" oninvalid="setCustomValidity('请输入正确单价');" >
                        </div>
                      </div>
                      <div class=" form-group   "  >
                        <label for="wantToSellTabAmount" class="col-md-4 control-label col-xs-4">卖出数量</label>
                        <div class="col-md-5 col-xs-7">
                          <input type="number" step="10" min="10"  class="form-control" id="wantToSellTabAmount" name="amount"
                              placeholder="卖出数量" oninvalid="setCustomValidity('请输入正确数量，最小为10');"  >
                        </div>
                      </div>
                      <div class=" form-group   ">
                        <label class="col-md-4 control-label col-xs-4">可交易KTH</label>
                        <div class="col-md-5 col-xs-7">
                          <input type="text" class="form-control" id="tradableCoin" name="tradableCoin"
                                 disabled="disabled" value="${user.tradableCoin?c}" >
                        </div>
                      </div>
                      <!--<div class=" form-group   ">
                        <label  class="col-md-4 control-label">可获得财富积分</label>
                        <div class="col-md-5">
                          <input type="text" class="form-control" id="wantToSellTabCashCoin" name="cashCoin" disabled="disabled"
                                  value="0">
                        </div>
                      </div>-->
                      <hr>
                      <div class=" form-group   ">
                        <label for="wantToSellTabTradePassword"  class="col-md-4 control-label col-xs-4">交易密码</label>
                        <div class="col-md-5 col-xs-7">
                          <input type="text" onfocus="this.type='password'" class="form-control" id="wantToSellTabTradePassword"
                                 name="tradePassword" placeholder="交易密码" >
                        </div>
                      </div>
                      <div class="">
                        <button type="btn" class="btn btn-success  col-xs-7 col-xs-offset-4 col-md-3 col-md-offset-5 " id="sellBtn" onclick="submitSellForm();">提交卖单</button>
                      </div>
                    </form>

                  </div>
                </div>
                <div class="tab-pane fade " id="buyTab">
                  <div class="col-md-6" >
                    <form class="form-horizontal " role="form" id="wantToBuyForm"
                          onkeydown="if(event.keyCode==13) return false;"  autocomplete="off">
                      <div class=" form-group   " style="margin-top: 20px;">
                        <label for="kmc2" class="col-md-4 control-label col-xs-4">买入单价</label>
                        <div class="col-md-5 col-xs-7">
                          <input type="number" step="0.01" min="0.00" class="form-control" id="kmc2" name="vc2"  value="${vc?c}"
                                placeholder="买入单价" oninvalid="setCustomValidity('请输入正确单价');" >
                          <!--oninput="calculateEcoin();"-->
                        </div>
                      </div>
                      <div class=" form-group   ">
                        <label for="amount2" class="col-md-4 control-label col-xs-4">买入数量</label>
                        <div class="col-md-5 col-xs-7">
                          <input type="number" step="10" min="0"  class="form-control" id="amount2" name="amount2"
                               placeholder="买入数量"  oninvalid="setCustomValidity('请输入正确数量，最小为10');" >
                          <!--oninput="calculateEcoin();"-->
                        </div>
                      </div>
                      <div class=" form-group   ">
                        <label class="col-md-4 control-label col-xs-4">积分余额</label>
                        <div class="col-md-5 col-xs-7">
                          <input type="text" class="form-control" id="myEcoin" name="myEcoin"
                                 disabled="disabled" value="${user.ecoin?c}"  >
                        </div>
                      </div>
                      <!--<div class=" form-group   ">
                        <label  class="col-md-4 control-label">消耗积分</label>
                        <div class="col-md-5">
                          <input type="text" class="form-control" id="ecoin2" name="ecoin2" readonly="true"  >
                        </div>
                      </div>-->
                      <#if ruleList ??>
                        <div class=" form-group   ">
                          <label class="col-md-4 control-label col-xs-4">锁仓天数</label>
                          <div class="col-md-5 col-xs-7">
                            <select class="form-control" name="ruleId" >
                              <option value=""></option>
                              <#list ruleList as rule>
                                <div class=" form-group  ">
                                  <option value="${rule.id?c}">${rule.remark}
                                  </option>
                                </div>
                              </#list>
                            </select>
                          </div>
                        </div>
                      </#if>
                      <hr>
                      <div class=" form-group   ">
                        <label for="tradePassword2"  class="col-md-4 control-label col-xs-4">交易密码</label>
                        <div class="col-md-5 col-xs-7">
                          <input type="text" onfocus="this.type='password'" class="form-control" id="tradePassword2" placeholder="交易密码" name="tradePassword2"   >
                        </div>
                      </div>
                      <div class="">
                        <button type="btn" class="btn btn-danger col-xs-7 col-xs-offset-4 col-md-3 col-md-offset-5 " id="buyBtn" onclick="submitBuyForm();">提交买单</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>


            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->


<!--<#include "tradeModal.html" />-->
<#include "footer1.html" />
<script>
  function displayBuyPrice(value, row, index) {
    if(value) {
        return "<span style='color: red'>"+value+"</span>";
    }
  }

  function displaySellPrice(value, row, index) {
      return "<span style='color: green'>"+value+"</span>";
  }
</script>
<script src="/assets/myJs/tradeHall.js" ></script>
<!--<script src="/assets/myJs/tradeModal.js" ></script>-->
<#include "footer2.html" />