<#include "header.html" />
<!--管理员-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        交易大厅
        <small>完成的交易</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      <div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header">
              <!--<h3 class="box-title">交易大厅</h3>-->
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
              <!-- 去掉data-toggle="tab"，不方便实现翻页等请求 -->
              <!--<ul id="myTab" class="nav nav-tabs">
                <li><a href="trade?s=tradeTrend" >KMC走势</a></li>
                <li><a href="trade?s=tradeHall" >交易大厅</a></li>
                <li  class="active"><a href="trade?s=tradeHistoryAll" >完成的交易</a></li>
                <li><a href="trade?s=myTrade" >我的交易</a></li>
              </ul>-->
              <div id="myTabContent" class="tab-content col-md-12 ">
                <!--tab #tradeHistory-->
                <form class="form-horizontal"  >
                  <div class="form-group col-md-4">
                    <label for="datepicker" class="col-md-3 control-label">日期</label>
                    <div class="col-md-9">
                      <input type="date" class="form-control " id="datepicker">
                    </div>
                  </div>
                  <div class="form-group  col-md-3">
                    <label for="buyerUid" class="col-md-5 control-label">买家ID</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control " id="buyerUid">
                    </div>
                  </div>
                  <div class="form-group  col-md-3">
                    <label for="sellerUid" class="col-md-5 control-label">卖家ID</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control " id="sellerUid">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button  type="button" class="btn btn-info" onclick="searchTable(); "
                              >查询</button>

                  </div>
                </form>
                <!--<div class="tab-pane fade in active" id="tradeHistory">-->
                <hr>
                <div class="" id="tradeHistory">
                  <table id="soldTable" class="table table-striped table-bordered text-nowrap "
                         data-undefined-text=""
                         data-toolbar-align="left"
                         data-show-refresh="true"
                         data-show-columns="true"  >
                    <thead>
                    <tr>
                      <th data-field="id"  data-width="10%">#</th>
                      <th data-field="tradeDate" data-formatter="displayCreatedDate" data-width="18%">交易时间</th>
                      <th data-field="orderDate" data-formatter="displayCreatedDate" data-width="18%">挂单时间</th>
                      <th data-field="buyerUid" >买家</th>
                      <th data-field="sellerUid" >卖家</th>
                      <th data-field="vcPrice" >单价</th>
                      <th data-field="amount" >数量</th>
                      <th data-field="ecoin" >金额</th>
                      <th data-field="remark">锁仓天数</th>

                    </tr>
                    </thead>
                  </table>

                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<#include "footer1.html" />
<script>
    var soldTable;
    $(function () {
        //Date picker
        var today = new Date();
        $('#datepicker').val(today.format('yyyy-MM-dd'));
        soldTable = $('#soldTable').bootstrapTable({
            url: "tradeSoldList",
            method: 'post',
            contentType: "application/x-www-form-urlencoded",
            cache: false,
            sidePagination:'server',//指定服务器端分页
            //server分页
            pageNumber: 1, //初始化加载第一页，默认第一页
            pagination:true,//是否分页
            paginationLoop: false,
            searchTimeOut: 2000,
            queryParams:function (params){  //请求服务器时所传的参数
                return {
                    pageIndex : params.offset/params.limit+1, //当前页面,默认是上面设置的1(pageNumber)
                    pageSize : params.limit, //每一页的数据行数，默认是上面设置的10(pageSize)
                    date: $('#datepicker').val(),      //查询日期
                    buyerUid: $('#buyerUid').val(),
                    sellerUid: $('#sellerUid').val(),
                    // param : "Your Param" //这里是其他的参数，根据自己的需求定义，可以是多个
                }
            },
//            pageSize:10,//单页记录数
            pageList:[10,50],//分页步进值
            paginationPreText: '<',//指定分页条中上一页按钮的图标或文字,这里是<
            paginationNextText: '>',//指定分页条中下一页按钮的图标或文字,这里是>
        });
    });

    function searchTable() {
        soldTable.bootstrapTable('refresh');
    }
</script>


<#include "footer2.html" />